{% extends 'base.html' %}

{% block head %}

<title>Truck GUI</title>
<link rel="stylesheet" href="static/css/home.css">

<script>
    window.onload = function(){
        document.getElementById('batt_v').textContent = "0.00";

    }
</script>
<script>
    function updateData(){
    fetch('/sdata')
        .then(response => response.json())
        .then(json => {
            if (json) {
                console.log(json)
                for (var key in json){
                    document.getElementById(key).textContent = json[key];
                }
            }
        })
    }
    setInterval(updateData, 1000);
</script>
{% endblock %}

{% block body %}
<div class="chart-container">
    <table class="table">
        <tbody>
        <tr>
            <td> SID</td>
            <td><span id="name"></span></td>
        </tr>
        <tr>
            <td>BLE</td>
            <td><span id="connection"></span></td>
        </tr>
        <tr>
            <td>BAT</td>
            <td><span id="battv"></span></td
        </tr>
        <tr>
            <td>CHG</td>
            <td><span id="batt_status"></span></td>
        </tr>
        <tr>
            <td>%DO</td>
            <td><span id="do"></span></td
        </tr>
        <tr>
            <td>HPA</td>
            <td><span id="pressure"></span></td
        </tr>
        <tr>
            <td>&#8457</td>
            <td><span id="temperature"></span></td
        </tr>
        </tbody>
    </table>
  </div>



{% endblock %}
