{% extends 'base.html' %}

{% block head %}

<title>Truck GUI</title>
<link rel="stylesheet" href="static/css/home.css">

{% endblock %}

{% block body %}
<div class="chart-container">
    <table class="table" style="float:left">
        <tbody>
        <tr>
            <td> SID</td>
            <td><span id="name"></span></td>
        </tr>
        <tr>
            <td>BLE</td>
            <td><span id="connection"></span></td>
        </tr>
        <tr>
            <td>BAT</td>
            <td><span id="battv"></span></td
        </tr>
        <tr>
            <td>CHG</td>
            <td><span id="batt_status"></span></td>
        </tr>
        <tr>
            <td>%DO</td>
            <td><span id="do"></span></td
        </tr>
        <tr>
            <td>HPA</td>
            <td><span id="pressure"></span></td
        </tr>
        <tr>
            <td>&#8457</td>
            <td><span id="temperature"></span></td
        </tr>
        </tbody>
    </table>
    <div style="float:right">
        <img id="graph" style="max-height:400px">
      </div>
  </div>



<script>

    async function updateData(){
        let response = await fetch('/sdata')
        let data = await response.json()

        for (var key in data){
            if (key == "sample_id"){
                console.log("hit")
                let old_id = img_id;
                img_id = data[key];
                if (img_id != old_id){
                    get_image();
                }
            }
            else{
                document.getElementById(key).textContent = data[key];
            }
        }
    }
    
    async function get_image(){
        let response = await fetch('/idata');
        if (response.status == 200){
            const imageBlob = await response.blob()
            const imageObjectURL = URL.createObjectURL(imageBlob);
            document.getElementById('graph').src = imageObjectURL;
        }
        else {
            console.log("here")
        }
    }

    var img_id = "";
    updateData();
    setInterval(updateData, 1000);

</script>

{% endblock %}
